nav {
    font-family: avenir;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
}

nav a {
    color: #1D1D35;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.btn {
    color: #FFF;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 95px;
    height: 40px;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    background: #00ADEE;
    border-radius: 25px;
  }
  